<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title>WebSocket Test</title>
<script language="javascript" type="text/javascript">

    var wsUri = "ws://localhost:8000/ws";
    var websocket = new WebSocket(wsUri);
    var output;
    function init() {
        output = document.getElementById("outputDiv");
        if (!'WebSocket' in window){
            writeToScreen('<span style="color: red;">ERROR: Update your browser to one that supports websockets. A list can be found <a href="http://caniuse.com/websockets">here</a></span>');
        } else {
            testWebSocket();
        }
    }
    function onOpen(evt) {
        writeToScreen("CONNECTED");
        doSend("Hi there!");
    }
    function onClose(evt) {
        writeToScreen("DISCONNECTED");
    }
    function onMessage(evt) {
        writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');
        writeToInput(evt.data);
    }
    function onError(evt) {
        writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
    }
    function doSend(message) {
        writeToScreen("SENT: " + message);
        websocket.send(message);
    }
    function writeToScreen(message) {
        var pre = document.createElement("p");
        pre.style.wordWrap = "break-word";
        pre.innerHTML = message;
        output.appendChild(pre);
    }
    function writeToInput(data) {
        var dict = JSON.parse(data);
        for (var key in dict) {
            document.getElementById("demo").innerHTML = "running";
            if (dict.hasOwnProperty(key)) {
                document.getElementById(key).value = dict[key];
            }
        }
        //var key = "Steam Boiler"
        //var chngeID = "demo";
        //document.getElementById(key).value = dict[key];
    }
    function testWebSocket() {
        websocket.onopen = function(evt) { onOpen(evt) };
        websocket.onclose = function(evt) { onClose(evt) };
        websocket.onmessage = function(evt) { onMessage(evt) };
        websocket.onerror = function(evt) { onError(evt) };
        document.getElementById("send").onclick = function () {
            doSend(document.getElementById("inputTxt").value);
            console.log("click registered.");
        };

    }
    window.addEventListener("load", init, false);
</script>

<h2>WebSocket Test</h2>

<div id="inputDiv">
    <input id="inputTxt" value="Initial" type="text"/>
    <button id="send" onclick=>send</button>
    <p id="demo">Click the button to change the text in this paragraph.</p>
</div>

<div id="staticDiv">
    {% for item in items %}
         <input id={{ item }} type="text"/><br>
    {% end %}
    <br>
    {% for name, value in sorted(pdict.items()) %}
        {{ escape(name) }}
         <input id="{{ name }}" value="{{ value }}" type="text"/><br>
    {% end %}
</div>

<div id="outputDiv">
</div>

</html>